* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bgv {
    position: fixed;
    width: 100%;
    min-height: 100%;
}

nav {
    font-size: larger;
    height: 75px;
    width: 100%;
    position: fixed;
    top:0px;
    background-color: rgb(108, 149, 108);
    opacity: 0.8;
    z-index:100;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: -350px;
}

nav div {
    display: flex;
    align-items: center;
}

.anchor-tag-div {
    /* margin-top: 10px; */
    margin-left: 360px;
}

.anchor-tag-div a {
    text-decoration: none;
    color: rgb(26, 23, 23);
    font-size: large;
    padding: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#watch {
    font-size: 20px;
    margin-left: 216px;
    font-size: larger;
}

a:hover {
    border-bottom: 6px solid rgb(6, 227, 14);
}

#watch a:hover {
    background-color: rgb(51, 152, 78);
}

/* ----------------------Interactive Page---------------------- */
.b2{
    background-color: chartreuse;
}

.nav2{
    margin-top: -130px;
}

.c1{
    margin-top: 130px;
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.i1{
    width: 500px;
    margin-left: 600px;
    margin-top: -140px;
    border-radius: 10px;
}

.c2{
    margin-top: 150px;
    margin-left: 755px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.i2{
    width: 500px;
    height: 250px;
    margin-left: -600px;
    margin-top: -150px;
    border-radius: 10px;
}

.c3{
    margin-left: 150px;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.i3{
    width: 500px;
    margin-left: 600px;
    margin-top: -120px;
    height: 250px;
    border-radius: 10px;
}
/* ----------------------Comunity Page---------------------- */

.b2{
    background-color: chartreuse;
    background-size: cover;
}

/* .nav3{
    margin-top: -100px;
} */


main{
    /* padding: 2rem; */
    margin-top:25px;
    width:60%;
    background:red;
}


.support-img img{
    border:1px solid black;
    border-radius:10px;
}
.support-img img:hover{
    /* background:black; */
    /* font-size: larger; */
    scale:1.02;
    border:none;
    border:2px solid purple;
    border-radius:10px;
} 



/* footer */

footer{
    background-color: black;
    height:250px;
   color:white;
} 
footer i{
    color: yellow;
}
.footerh2{
    color:yellow;
   
}
.footer-section{
    display:flex;
    justify-content:space-around;

}

.footer-one{
   
    width:400px;
    margin-top:20px;
  
}

.footer-one p{
    padding-top:30px;
}

.footer-two{
    
    margin-top:20px;
}

.footer-two i{

    padding:10px;
    margin-left:10px;
}

.logos{
    margin-top:20px;
}
.logos a{
    text-decoration: none;
    color:white;
}

.footer-three{
 margin-top:20px;
}
.footer-three i{
    padding-top: 20px;
    margin-left:10px;
}
/* .logos1{

} */